In [2]:
import pandas as pd
import os

In [3]:
base_path = "data/raw/jigsaw-toxix-comments/" 
os.listdir(base_path)

['sample_submission.csv', 'test.csv', 'test_labels.csv', 'train.csv']

In [11]:
train_path = os.path.join(base_path,'train.csv')
print(train_path)
test_path = os.path.join(base_path,'test.csv')
print(test_path)
test_labels_path = os.path.join(base_path,'test_labels.csv')
print(test_labels_path)

data/raw/jigsaw-toxix-comments/train.csv
data/raw/jigsaw-toxix-comments/test.csv
data/raw/jigsaw-toxix-comments/test_labels.csv

In [8]:
df_train = pd.read_csv(train_path)
print(df_train.shape)
df_train.head(2)

(159571, 8)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0

In [12]:
df_test = pd.read_csv(test_path)
print(df_test.shape)
df_test.head(2)

(153164, 2)

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...

In [15]:
df_labels = pd.read_csv(test_labels_path)
df_labels.shape
df_labels.head(2)

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1

In [33]:
df_labels[(df_labels["toxic"] != -1)]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
5,0001ea8717f6de06,0,0,0,0,0,0
7,000247e83dcc1211,0,0,0,0,0,0
11,0002f87b16116a7f,0,0,0,0,0,0
13,0003e1cccfd5a40a,0,0,0,0,0,0
14,00059ace3e3e9a53,0,0,0,0,0,0
...,...,...,...,...,...,...,...
153150,fff8f64043129fa2,0,0,0,0,0,0
153151,fff9d70fe0722906,0,0,0,0,0,0
153154,fffa8a11c4378854,0,0,0,0,0,0
153155,fffac2a094c8e0e2,1,0,1,0,1,0
153156,fffb5451268fb5ba,0,0,0,0,0,0

In [24]:
import numpy as np

In [25]:
np.multiply()

TypeError: multiply() takes from 2 to 3 positional arguments but 0 were given