In [1]:
import dask.dataframe as dd
import os

In [3]:
base_path = "../data/raw/twitter" 
os.listdir(base_path)

['cyberbullying_tweets.csv']

In [4]:
train_path = os.path.join(base_path,'cyberbullying_tweets.csv')
print(train_path)

../data/raw/twitter/cyberbullying_tweets.csv

In [22]:
df_train = dd.read_csv(train_path, delimiter=',')
print(df_train.compute().shape)
df_train.head(2)

(47692, 2)

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying

In [9]:
df_train["cyberbullying_type"].unique().compute()

0      not_cyberbullying
1                 gender
2               religion
3    other_cyberbullying
4                    age
5              ethnicity
Name: cyberbullying_type, dtype: object

In [11]:
df_train["cyberbullying_type"].value_counts().compute()

cyberbullying_type
age                    7992
ethnicity              7961
gender                 7973
not_cyberbullying      7945
other_cyberbullying    7823
religion               7998
Name: count, dtype: int64

In [19]:
df_train["label"] = (df_train['cyberbullying_type'] != "not_cyberbullying").astype('int')

In [20]:
df_train.head()

                                          tweet_text cyberbullying_type  label
0  In other words #katandandre, your food was cra...  not_cyberbullying      0
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying      0
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying      0
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying      0
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying      0